// File location: assets\src\sass\styles
.header-main {
  z-index: 9;
}
@include desk-min {
  .menu-toggle {
    display: none;
  }
  .main-navigation {
    ul {
      display: flex;
    }
  }
  .stick-top .header-version-1 {
    .header-top {
      position: sticky;
      top: 0;
    }
  }
  .stick-main .header-version-1 {
    .header-main {
      position: sticky;
      top: 0;
    }
  }
  .header-version-1 {
    .header-top {
      display: flex;
      justify-content: space-between;
      background-color: var(--color-2);
      padding: 1rem 2.5rem;
      color: #fff;
      z-index: 9;
      .il_btn {
        line-height: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      div {
        width: 100%;
        text-align: center;
      }
      &.left {
        .section_inner {
          justify-content: left;
        }
      }
      &.middle {
        .section_inner {
          justify-content: center;
        }
      }
      &.right {
        .section_inner {
          justify-content: right;
        }
      }
    }
    .header-main {
      background: linear-gradient( to left, #062366 0%, #010d28 100%);
      &-inner {
        display: flex;
        width: 90%;
        max-width: 1600px;
        margin: auto;
        align-items: center;
        padding: 4rem 0;
        #primary-menu {
          justify-content: flex-end;
          a {
            margin-left: 4.5rem;
            color: #fff;
            font-size: 18px;
          }
        }
        .logo-wrap {
          flex: 15% 0 0;
          line-height: 0;
          height: 8rem;
          a {
            height: 100%;
            img {
              height: 100%;
              object-fit: contain;
              object-position: left;
            }
          }
        }
        .nav-button {
          flex-shrink: 0;
          margin-left: 3rem;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}