/**
* Importing by glob example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#globbing
 */
:root {
  --color-1: #041B4F;
  --color-2: #FEC000;
  --color-3: #009688;
  --color-4: #05B0D6;
  --color-text: #041B4F;
  --title-size-1: 7.3rem;
  --title-size-2: 6.6rem;
  --title-size-3: 5rem;
  --title-size-4: 3rem;
  --title-size-5: 2.5rem;
  --title-size-6: 2rem;
  --body-style-: 2rem;
  --title-line-height: 1.5;
  --b-space-1: 14.7rem;
  --b-space-2: 12rem;
  --theme-transition: .3s all;
  --site-max-width: 1640px;
}
@media (min-width: 797.6px) {
  :root {
    --site-width: 90%;
  }
}
@media (max-width: 797.5px) {
  :root {
    --site-width: calc(100% - 50px);
  }
}

div.block_space_1 {
  padding-top: var(--b-space-1);
  padding-bottom: var(--b-space-1);
}
div.block_space_2 {
  padding-top: var(--b-space-2);
  padding-bottom: var(--b-space-2);
}
div.block_space_1_2 {
  padding-top: var(--b-space-1);
  padding-bottom: var(--b-space-2);
}
div.margin-sm {
  margin-bottom: 3rem;
}
div.margin-md {
  margin-bottom: 5rem;
}
div.margin-lg {
  margin-bottom: 7rem;
}
div.margin-xl {
  margin-bottom: 10rem;
}

.il_block {
  position: relative;
  z-index: 2;
}

.il_block_bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}
.il_block_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media (min-width: 797.6px) {
  .il_block_bg .mob_bg {
    display: none;
  }
}

/* Buttons */
.il_buttons {
  margin-top: 4.5rem;
}

a.il_btn {
  text-decoration: none;
  color: var(--color-1);
  display: inline-flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: var(--theme-transition);
}
a.il_btn .il_btn_icon {
  display: flex;
  transition: var(--theme-transition);
}
a.il_btn:hover .il_btn_icon {
  margin-left: 1rem;
  margin-right: -1rem;
}
a.il_btn svg {
  height: 2rem;
}
a.il_btn:not(:last-child), a.il_btn:not(:only-child) {
  margin-right: 5.5rem;
}

.il_accordion-item {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.il_accordion-item:not(.open) .il_accordion-body {
  display: none;
}
.il_accordion-item .il_accordion-header {
  font-size: var(--title-size-4);
  color: var(--color-2);
  cursor: pointer;
  padding: 0.5rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
}
.il_accordion-item .il_accordion-header::after {
  content: "";
  /* background-image: url(assets/icons/chevron-down.svg); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 3rem;
  transition: var(--theme-transition);
}
.il_accordion-item .il_accordion-body {
  padding: 1rem 3rem 2rem;
}
.il_accordion-item.open .il_accordion-header::after {
  transform: scaleY(-1);
}

.il_columns .il_columns_inner {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1199.6px) {
  .il_columns.cols-3 .column {
    padding-left: 2%;
    padding-bottom: 2%;
  }
  .il_columns.cols-3 .column:last-child {
    padding-right: 2%;
  }
  .il_columns.cols-4 .column {
    padding-left: 2.33%;
    padding-right: 1%;
    padding-bottom: 1.33%;
  }
  .il_columns.cols-4 .column:last-child {
    padding-right: 1.33%;
  }
}
.il_columns.style-1 .container {
  text-align: center;
  color: #fff;
}
.il_columns.style-1 .il_block_intro .intro_title {
  color: #fff;
  margin-bottom: 7rem;
}
.il_columns.style-1 .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 797.5px) {
  .il_columns.style-1 .column {
    padding: 3.8rem 0;
  }
}
@media (min-width: 1199.6px) {
  .il_columns.style-1 .column:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
}
.il_columns.style-1 .il_btn_text {
  color: var(--color-3);
}
.il_columns.style-1 .il_btn_icon path {
  fill: var(--color-3);
}
.il_columns.style-1 .column img {
  margin-bottom: 2.5rem;
}
@media (max-width: 1659.5px) {
  .il_columns.style-1 .column img {
    max-width: 60px;
  }
}
.il_columns.style-1 .column:has(.il_buttons) .il_col_text {
  margin-bottom: 4.5rem;
}
.il_columns.style-1 .il_buttons {
  margin-top: auto;
}

.il_gallery_inner {
  display: flex;
  flex-wrap: wrap;
}
.il_gallery-item {
  display: flex;
  height: 100%;
}
.il_gallery-item[data-fancybox=il_gallery] {
  cursor: pointer;
}
.il_gallery-item img {
  height: 100%;
}

.il_hero {
  background-size: cover;
  display: flex;
}
.il_hero .il_hero_inner {
  display: flex;
  flex-direction: column;
  position: relative;
}
.il_hero .intro_title {
  font-size: 12.2rem;
  line-height: 1;
  color: var(--color-2);
  margin-bottom: 0;
}
.il_hero .il_hero_subtitle {
  font-size: 5rem;
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
}
.il_hero .il_buttons {
  margin-top: 5rem;
}
.il_hero .il_btn {
  padding: 1rem 2.2rem;
  color: #fff;
  border: 3px solid;
  font-size: 2rem;
  min-width: 21rem;
  justify-content: center;
}
.il_hero .il_btn:first-child {
  border-color: var(--color-3);
  margin-right: 2.5rem;
}
.il_hero .il_btn:last-child {
  border-color: var(--color-4);
}
.il_hero .il_btn .il_btn_icon {
  display: none;
}
.il_hero.full-screen {
  min-height: calc(100vh - 16.5rem);
  /* min-height: calc(100vh - 10.5rem); */
}
@media (max-width: 1199.5px) {
  .il_hero.full-screen {
    min-height: calc(100vh - 13rem);
  }
}
.il_hero.full-screen .hero_inner {
  justify-content: center;
}
.il_hero .si_container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.il_hero .si_triggers {
  padding-bottom: 30px;
  margin-bottom: var(--b-space-2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.il_hero .si_triggers .si_trigger {
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding-right: 5rem;
  margin-right: 1rem;
  position: relative;
  transition: var(--theme-transition);
}
.il_hero .si_triggers .si_trigger .si_ti {
  transform: rotate(-45deg);
  right: 0rem;
  transition: var(--theme-transition);
  position: absolute;
  bottom: 0;
}
.il_hero .si_triggers .si_trigger.si_open .si_ti {
  bottom: -100px;
  transform: rotate(90deg);
  right: calc(50% + 2.5rem);
}
.il_hero .tg_slidein {
  background-color: blue;
  position: relative;
  display: none;
}
.il_hero .tg_slidein .si_close {
  color: #fff;
  font-size: 3.5rem;
  cursor: pointer;
}
.il_hero .tg_slidein .si_content {
  width: 50%;
  margin-top: 2.5rem;
}
.il_hero .tg_slidein .si_title svg {
  width: 7rem;
  height: 7rem;
  transform: rotate(-45deg);
  margin-bottom: 3rem;
  margin-left: 3rem;
}
.il_hero .tg_slidein:first-child svg path, .il_hero .si_trigger:first-child svg path {
  fill: #009688;
}
.il_hero .tg_slidein:nth-child(2) svg path, .il_hero .si_trigger:nth-child(2) svg path {
  fill: #05B0D6;
}
.il_hero .tg_slidein:nth-child(2) svg path, .il_hero .si_trigger:nth-child(2) svg path {
  fill: #FEC000;
}
.il_hero .tg_slidein:nth-child(2) svg path, .il_hero .si_trigger:nth-child(2) svg path {
  fill: #F21971;
}
.il_hero .tg_slidein:nth-child(2) svg path, .il_hero .si_trigger:nth-child(2) svg path {
  fill: #683AB7;
}

.il_lb_carousel_block {
  position: relative;
}

.lb_cb_nav_wrap .il_lb_triggers {
  display: flex;
  flex-wrap: wrap;
}
.lb_cb_nav_wrap .il_lb_triggers a {
  width: 30%;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  font-family: Anton;
  text-decoration: none;
}
.lb_cb_nav_wrap .il_lb_triggers a:not(:nth-child(3n+3)) {
  margin-right: 5%;
}
.lb_cb_nav_wrap .il_lb_triggers a:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3)) {
  margin-bottom: 5.5rem;
}

.il_lb_carousel_wrap {
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--theme-transition);
}
.il_lb_carousel_wrap.is-open {
  opacity: 1;
  pointer-events: all;
}
.il_lb_carousel_wrap .flickity-button, .il_lb_carousel_wrap .close {
  border-radius: 0;
  opacity: 1;
  transition: var(--theme-transition);
  background-color: var(--color-1);
  left: auto;
  top: 9.5rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  height: 4rem;
  transform: translateY(0);
  background-size: 50%;
}
@media (max-width: 797.5px) {
  .il_lb_carousel_wrap .flickity-button, .il_lb_carousel_wrap .close {
    top: 6rem;
  }
}
.il_lb_carousel_wrap .flickity-button[disabled], .il_lb_carousel_wrap .close[disabled] {
  opacity: 0.4;
}
.il_lb_carousel_wrap .flickity-button svg, .il_lb_carousel_wrap .close svg {
  display: none;
}
.il_lb_carousel_wrap .flickity-button:hover, .il_lb_carousel_wrap .close:hover {
  opacity: 0.8;
}
.il_lb_carousel_wrap .close {
  position: absolute;
  right: 15%;
  cursor: pointer;
  z-index: 9;
  background-image: url("https://taryag.local/wp-content/themes/taryag/assets/icons/x.svg");
}
@media (max-width: 1360.5px) {
  .il_lb_carousel_wrap .close {
    right: 20rem;
  }
}
.il_lb_carousel_wrap .flickity-button.previous {
  right: 12.5%;
  background-image: url("https://taryag.local/wp-content/themes/taryag/assets/icons/left-arrow.svg");
}
@media (max-width: 1360.5px) {
  .il_lb_carousel_wrap .flickity-button.previous {
    right: 15rem;
  }
}
.il_lb_carousel_wrap .flickity-button.next {
  right: 10%;
  background-image: url("https://taryag.local/wp-content/themes/taryag/assets/icons/right-arrow.svg");
}
@media (max-width: 1360.5px) {
  .il_lb_carousel_wrap .flickity-button.next {
    right: 10rem;
  }
}

.il_lb_carousel .il_lb_carousel_inner {
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.67);
}
@media (min-width: 797.6px) {
  .il_lb_carousel .il_lb_carousel_inner {
    min-height: 100%;
  }
  .il_lb_carousel .il_lb_carousel_inner .il_lb_left {
    width: 50%;
  }
}
.il_lb_carousel .il_lb_carousel_inner .il_lb_right {
  background-color: #fff;
}
@media (min-width: 797.6px) {
  .il_lb_carousel .il_lb_carousel_inner .il_lb_right {
    width: 50%;
  }
}
@media (min-width: 797.6px) {
  .il_lb_carousel .il_lb_carousel_inner .il_lb_right {
    padding: 20rem var(--b-space-1);
  }
}
@media (max-width: 797.5px) {
  .il_lb_carousel .il_lb_carousel_inner .il_lb_right {
    padding: 15rem 10rem 10rem;
  }
}
.il_lb_carousel .il_lb_carousel_inner .il_lb_right .tg_text {
  color: var(--color-1);
}

.il_logos.inline_title .container {
  display: flex;
  align-items: center;
}
.il_logos.inline_title .container .il_block_intro {
  flex-shrink: 0;
}
.il_logos.inline_title .container .il_block_intro .intro_title {
  margin-bottom: 0;
  margin-right: 6rem;
}
.il_logos.inline_title .il_logos_inner {
  align-items: center;
}
.il_logos .il_logos_inner {
  display: flex;
}
.il_logos .column {
  width: 100%;
}
.il_logos .column figure {
  width: 100%;
}
.il_logos .column figure img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ol_section {
  z-index: 3;
}
.ol_section .il_section_inner {
  background-color: #fff;
  margin-top: -14rem;
  margin-bottom: -8.5rem;
}
.ol_section .il_section_inner .left {
  flex: 60% 0 0;
  padding: var(--b-space-2);
}
.ol_section .il_section_inner .right {
  flex: 40% 0 0;
}
.ol_section .il_section_inner .right img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ol_section .il_btn {
  color: var(--color-3);
}
.ol_section .il_btn svg path {
  fill: var(--color-3);
}

.tg_btns_wrap {
  display: flex;
  align-items: center;
  margin-top: 4.5rem;
  flex-wrap: wrap;
}
.tg_btns_wrap .tg_buttons_prefix {
  font-size: 2rem;
  margin-right: 4.5rem;
}
.tg_btns_wrap .il_buttons {
  margin-top: 0;
}
@media (max-width: 797.5px) {
  .tg_btns_wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .tg_btns_wrap .tg_buttons_prefix {
    font-size: 16px;
    margin-bottom: 2rem;
  }
}

.il_section.style-1 {
  background-color: #f5f5f5;
}
.il_section.style-1 .tg_buttons_prefix {
  color: var(--color-1);
}
@media (max-width: 797.5px) {
  .il_section.style-1 {
    padding-bottom: 55rem;
  }
}
@media (min-width: 797.6px) {
  .il_section.style-1 .il_block_bg {
    width: var(--site-width);
  }
  .il_section.style-1 .il_block_bg img {
    width: 30%;
  }
}
@media (max-width: 797.5px) {
  .il_section.style-1 .il_block_bg img {
    height: 50rem;
    top: auto;
    bottom: 0;
  }
}
.il_section.style-1 .il_section_title {
  color: var(--color-1);
}
@media (min-width: 797.6px) {
  .il_section.style-1 .il_section_content {
    width: 65%;
    margin-left: auto;
    margin-right: 8%;
  }
}
.il_section.style-1 .il_section_text {
  color: var(--color-text);
  margin-bottom: 3rem;
}
.il_section.style-1 .il_btn {
  display: inline-flex;
  color: var(--color-3);
  text-decoration: none;
  border-radius: 3rem;
  border: none;
}
.il_section.style-1 .il_btn path {
  fill: var(--color-3);
}

.il_section.style-2 {
  background-color: var(--color-1);
}
.il_section.style-2 .tg_buttons_prefix {
  color: #fff;
}
@media (max-width: 797.5px) {
  .il_section.style-2 {
    padding-bottom: 55rem;
  }
}
@media (min-width: 797.6px) {
  .il_section.style-2 .il_block_bg {
    width: var(--site-width);
    margin-right: 0;
    margin-left: auto;
  }
  .il_section.style-2 .il_block_bg img {
    width: 55%;
    right: 0;
    left: auto;
  }
}
@media (max-width: 797.5px) {
  .il_section.style-2 .il_block_bg img {
    height: 50rem;
    top: auto;
    bottom: 0;
  }
}
@media (min-width: 797.6px) {
  .il_section.style-2 .il_section_content {
    width: 50%;
  }
}
.il_section.style-2 .il_section_title {
  color: #fff;
}
.il_section.style-2 .il_section_text {
  color: #fff;
}
.il_section.style-2 .il_btn {
  color: var(--color-2);
}

.il_section_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1199.5px) {
  .ol_section .il_section_inner.stack-tablet-reverse > div {
    flex-basis: 100%;
  }
  .ol_section .il_section_inner.stack-tablet-reverse .left {
    order: 2;
  }
  .ol_section .il_section_inner.stack-tablet-reverse .right {
    order: 1;
  }
}
@media (max-width: 797.5px) {
  .ol_section .il_section_inner.stack-mobile-reverse > div {
    flex-basis: 100%;
  }
  .ol_section .il_section_inner.stack-mobile-reverse .left {
    order: 2;
  }
  .ol_section .il_section_inner.stack-mobile-reverse .right {
    order: 1;
  }
}
.ol_section .il_section_inner.ib-right .left {
  order: 2;
}
.ol_section .il_section_inner.ib-right .right {
  order: 1;
}
@media (max-width: 1199.5px) {
  .ol_section .il_section_inner.ib-right.stack-tablet-reverse > div {
    flex-basis: 100%;
  }
  .ol_section .il_section_inner.ib-right.stack-tablet-reverse .left {
    order: 1;
  }
  .ol_section .il_section_inner.ib-right.stack-tablet-reverse .right {
    order: 2;
  }
}
@media (max-width: 797.5px) {
  .ol_section .il_section_inner.ib-right.stack-mobile-reverse > div {
    flex-basis: 100%;
  }
  .ol_section .il_section_inner.ib-right.stack-mobile-reverse .left {
    order: 1;
  }
  .ol_section .il_section_inner.ib-right.stack-mobile-reverse .right {
    order: 2;
  }
}
@media (max-width: 797.5px) {
  .ol_section .il_section_inner.stack-mobile > div {
    flex-basis: 100%;
  }
}
@media (max-width: 1199.5px) {
  .ol_section .il_section_inner.stack-tablet > div {
    flex-basis: 100%;
  }
}

.il_simple-list .il_list_item {
  color: white;
  font-weight: 700;
  display: flex;
}
.il_simple-list .il_list_item_text {
  padding-left: 2rem;
}

.il_simple-list.cols-2 .column {
  max-width: 672px;
}

.il_simple-list.il_columns.cols-3 .column, .il_simple-list.il_columns.cols-4 .column {
  padding-left: 0px;
}

.il_tabs .il_tabs_nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.il_tabs .il_tabs_nav li {
  display: inline-block;
  background: var(--color-1);
  color: #fefefe;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #34495E;
  margin-right: 5px;
}
.il_tabs .il_tabs_nav li a {
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.il_tabs .il_tabs_nav li.active {
  background: #FFF;
  color: #000;
}
.il_tabs .il_tabs_nav li.active a {
  color: inherit;
}
.il_tabs .il_tab {
  transition: var(--theme-transition);
}
.il_tabs .il_tabs_content {
  border: 1px solid var(--color-1);
  padding: 2rem;
  background: #FFF;
  margin-top: -1px;
  overflow: hidden;
}
.il_tabs .il_tabs_content .il_tab:not(:first-child) {
  display: none;
}
@media (max-width: 479.5px) {
  .il_tabs.stack_tabs ul {
    flex-direction: column;
  }
  .il_tabs.stack_tabs ul li {
    width: 100%;
  }
  .il_tabs.stack_tabs ul li.active {
    order: 1;
  }
}

.team_inner {
  display: flex;
  flex-wrap: wrap;
}
.team_inner .member {
  display: flex;
}
.team_inner .member-1 {
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.team_inner .member-1 figure {
  max-width: 300px;
  border-radius: 300px;
}
.team_inner .member-1 figure img, .team_inner .member-1 figure picture {
  border-radius: 300px;
}
.team_inner .member-2 figure {
  flex: 35% 0 0;
  margin-right: 2rem;
}

html {
  font-size: 10px;
}
@media (min-width: 1360.6px) and (max-width: 1659.5px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  html {
    font-size: 7px;
  }
}
@media (min-width: 797.6px) and (max-width: 1199.5px) {
  html {
    font-size: 6px;
  }
}
@media (min-width: 479.6px) and (max-width: 797.5px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 479.5px) {
  html {
    font-size: 5px;
  }
}
html :where(.wp-block) {
  max-width: 90%;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  line-height: var(--title-line-height);
  text-transform: uppercase;
  font-family: Anton;
  font-weight: 400;
}

div, p, a {
  font-family: Montserrat;
}

.site-main, .interface-interface-skeleton__content {
  /*   h2 {
    font-size: var(--title-size-2);
  }
  h3 {
    font-size: var(--title-size-3);
  }
  h4 {
    font-size: var(--title-size-4);
  }
  h5 {
    font-size: var(--title-size-5);
  }
  h6 {
    font-size: var(--title-size-6);
  } */
}
.site-main p, .site-main a:not(.il_btn), .interface-interface-skeleton__content p, .interface-interface-skeleton__content a:not(.il_btn) {
  font-size: 2rem;
}
@media (max-width: 1199.5px) {
  .site-main p, .site-main a:not(.il_btn), .interface-interface-skeleton__content p, .interface-interface-skeleton__content a:not(.il_btn) {
    font-size: 16px;
  }
}
@media (max-width: 479.5px) {
  .site-main p, .site-main a:not(.il_btn), .interface-interface-skeleton__content p, .interface-interface-skeleton__content a:not(.il_btn) {
    font-size: 15px;
  }
}
.site-main p:first-child, .interface-interface-skeleton__content p:first-child {
  margin-top: 0;
}
.site-main p:last-child, .interface-interface-skeleton__content p:last-child {
  margin-bottom: 0;
}

.intro_title .tg_dark,
.title-style-1 {
  color: var(--color-1);
}

.tg_light, .title-style-2 {
  color: #fff;
}

.tg_gold, .title-style-3 {
  color: var(--color-2);
}

.tg_title_1, .intro_title {
  font-size: 5rem;
  margin-bottom: 4.5rem;
  font-family: Anton;
}

.container {
  width: var(--site-width);
  max-width: var(--site-max-width);
  margin: auto;
}

.cols-2 .column {
  width: 49%;
  margin-bottom: 2%;
}
.cols-2 .column:nth-child(2n+1) {
  margin-right: 2%;
}

.cols-3 .column {
  width: 32%;
  margin-bottom: 2%;
}
.cols-3 .column:not(:nth-child(3n+3)) {
  margin-right: 2%;
}

.cols-4 .column {
  width: 24%;
  margin-bottom: 1.33%;
}
.cols-4 .column:not(:nth-child(4n+4)) {
  margin-right: 1.33%;
}

.cols-5 .column {
  width: 19%;
  margin-bottom: 1.25%;
}
.cols-5 .column:not(:nth-child(5n+5)) {
  margin-right: 1.25%;
}

figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 797.5px) {
  .tab-cols-1 .column {
    width: 100%;
    margin-bottom: 4%;
  }
  .tab-cols-1 .column:nth-child(1n+1) {
    margin-right: 0;
  }
  .tab-cols-2 .column {
    width: 48%;
    margin-bottom: 4%;
  }
  .tab-cols-2 .column:not(:nth-child(2n+2)) {
    margin-right: 4%;
  }
  .tab-cols-2 .column:nth-child(2n+2) {
    margin-right: 0;
  }
  .tab-cols-3 .column {
    width: 32%;
    margin-bottom: 2%;
  }
  .tab-cols-3 .column:nth-child(3n+3) {
    margin-right: 0;
  }
  .tab-cols-3 .column:not(:nth-child(3n+3)) {
    margin-right: 2%;
  }
  .tab-cols-4 .column {
    width: 24%;
    margin-bottom: 1.33%;
  }
  .tab-cols-4 .column:nth-child(4n+4) {
    margin-right: 1.33%;
  }
  .tab-cols-4 .column:not(:nth-child(4n+4)) {
    margin-right: 1.33%;
  }
}
@media (max-width: 479.5px) {
  .mob-cols-1 .column {
    width: 100%;
    margin-bottom: 4%;
    margin-right: 0 !important;
  }
  .mob-cols-2 .column {
    width: 48%;
    margin-bottom: 4%;
  }
  .mob-cols-2 .column:not(:nth-child(2n+2)) {
    margin-right: 4%;
  }
  .mob-cols-2 .column:nth-child(2n+2) {
    margin-right: 0;
  }
  .mob-cols-3 .column {
    width: 32%;
    margin-bottom: 2%;
  }
  .mob-cols-3 .column:nth-child(3n+3) {
    margin-right: 0;
  }
  .mob-cols-3 .column:not(:nth-child(3n+3)) {
    margin-right: 2%;
  }
}
.toplevel_page_theme-general-settings .wp-menu-image {
  background-size: 18px !important;
}

.wp-admin input[type=checkbox], .wp-admin input[type=radio] {
  height: 1.6rem;
  width: 1.6rem;
  min-width: 1.6rem;
}
.wp-admin input[type=checkbox]:before {
  height: 2.1rem;
  width: 2.1rem;
  margin-left: -0.4rem;
  margin-top: -0.3rem;
}
.wp-admin input[type=radio]:before {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.3rem;
  line-height: 1.6rem;
}

#facts {
  float: right;
  padding: 5px 10px;
  margin: 0;
  font-size: 12px;
  line-height: 1.6666;
}

.rtl #facts {
  float: left;
}

.block-editor-page #facts {
  display: none;
}

@media screen and (max-width: 782px) {
  #facts,
  .rtl #facts {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
}
